
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 

}
/***********************/
/**** Responsive website ****/


/*********************************/
/*       Responsive Design      */
/*********************************/

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
 
}
/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1350px) {
 
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	#oct .booking-thankyou {
		width: 90%;
	}
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 3 - 10px);
		width: -moz-calc(100% / 3 - 10px);
		width: -o-calc(100% / 3 - 10px);
		width: -ms-calc(100% / 3 - 10px);
		width: calc(100% / 3 - 10px);
	}
	#oct .today-date{
		text-align: center;
	}
	#oct .today-date a.oct-button{
		left: unset;
	}
	#oct .today-date .oct-selected-date-view{
		float: none;
	}
	#oct .oct-stripe-card .expiry-month-year.expiry_year{
		padding-right: 0;
	}
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 3 - 10px);
		width: -moz-calc(100% / 3 - 10px);
		width: -o-calc(100% / 3 - 10px);
		width: -ms-calc(100% / 3 - 10px);
		width: calc(100% / 3 - 10px);
	}
	#oct .today-date{
		text-align: center;
	}
	#oct .today-date a.oct-button{
		left: unset;
	}
	#oct .today-date .oct-selected-date-view{
		float: none;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#oct .oct-main-left.active-left-xs12 .oct-common-inputs .oct-form-row.oct-md-6,
	#oct .oct-main-left.active-left-xs12 .oct-common-inputs .oct-form-row.oct-fw{
		padding-right: 10px;
		padding-left: 10px;
	}
	#oct .oct-main-left.active-left-xs12 .oct-custom-radio ul.oct-radio-list li.oct-md-6,
	#oct .oct-main-left.active-left-xs12 .oct-common-inputs .oct-form-row.oct-md-6{
		width: 50% !important;
	}
	
}

/**********
iPad 3
**********/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 3 - 10px);
		width: -moz-calc(100% / 3 - 10px);
		width: -o-calc(100% / 3 - 10px);
		width: -ms-calc(100% / 3 - 10px);
		width: calc(100% / 3 - 10px);
	}
	#oct .today-date{
		text-align: center;
	}
	#oct .today-date a.oct-button{
		left: unset;
	}
	#oct .today-date .oct-selected-date-view{
		float: none;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	#oct .oct-main-left.active-left-xs12 .oct-common-inputs .oct-form-row.oct-md-6,
	#oct .oct-main-left.active-left-xs12 .oct-common-inputs .oct-form-row.oct-fw{
		padding-right: 10px;
		padding-left: 10px;
	}
	#oct .oct-main-left.active-left-xs12 .oct-custom-radio ul.oct-radio-list li.oct-md-6,
	#oct .oct-main-left.active-left-xs12 .oct-common-inputs .oct-form-row.oct-md-6{
		width: 50% !important;
	}
}
/* ----------- mobile width with 1080x1920 (360x640) ----------- */

 
 /* Portrait */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait){ 
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 1 - 10px) !important;
		width: -moz-calc(100% / 1 - 10px) !important;
		width: -o-calc(100% / 1 - 10px) !important;
		width: -ms-calc(100% / 1 - 10px) !important;
		width: calc(100% / 1 - 10px) !important;
	}
	#oct .oct-stripe-card .expiry-month-year.expiry_year {
		margin-left: 18px !important;
	}

}

/* Landscape */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape){
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 3 - 10px) !important;
		width: -moz-calc(100% / 3 - 10px) !important;
		width: -o-calc(100% / 3 - 10px) !important;
		width: -ms-calc(100% / 3 - 10px) !important;
		width: calc(100% / 3 - 10px) !important;
	}


}  

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

  
 /* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px)
	and (orientation: portrait) { 
		#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 1 - 10px) !important;
		width: -moz-calc(100% / 1 - 10px) !important;
		width: -o-calc(100% / 1 - 10px) !important;
		width: -ms-calc(100% / 1 - 10px) !important;
		width: calc(100% / 1 - 10px) !important;
	}
	#oct .oct-stripe-card .expiry-month-year.expiry_year {
		margin-left: 18px !important;
	}


	}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px)
	and (orientation: landscape) {
		#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 3 - 10px) !important;
		width: -moz-calc(100% / 3 - 10px) !important;
		width: -o-calc(100% / 3 - 10px) !important;
		width: -ms-calc(100% / 3 - 10px) !important;
		width: calc(100% / 3 - 10px) !important;
	}


}  


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 767px) {
	#oct .res-nplr {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#oct .res-npl {
		padding-left: 0 !important;
	}
	#oct .res-npr {
		padding-right: 0 !important;
	}
	#oct aside#content-sidebar:before,
	#oct section.oct-main-left:after{
		content: none;
	}
	#oct .res-hidden {
		display: none !important;
	}
	#oct .oct-display-middle {
		float: left !important;
	}
	#oct .oct-booking-step ul li span.sep {
		padding: 0 0px 0 10px;
	}
	#oct .oct-booking-step ul li {
		width: 100%;
		padding: 0;
	}
	#oct .oct-booking-step ul li span.sep{
		display: none;
	}
	
	#oct .oct-extra-services-list ul.addon-service-list li.oct-xs-12,
	#oct .oct-service-staff-list ul.staff-list li.oct-xs-12,
	#oct .oct-custom-radio ul.oct-radio-list li.oct-first-radio.oct-xs-12,
	#oct .oct-custom-radio ul.oct-radio-list li.oct-second-radio.oct-xs-12{
		width: 50%;
	}
	#oct .today-date{
		text-align: center;
	}
	#oct .today-date a.oct-button{
		left: unset;
	}
	#oct .today-date .oct-selected-date-view{
		float: none;
	}
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 3 - 10px);
		width: -moz-calc(100% / 3 - 10px);
		width: -o-calc(100% / 3 - 10px);
		width: -ms-calc(100% / 3 - 10px);
		width: calc(100% / 3 - 10px);
	}
	
	
	#oct .booking-thankyou{
		width: 75%;
		padding: 30px 20px;
	}
	#oct h1.header1 {
		font-size: 28px;
	}
	#oct h3.header3 {
		font-size: 18px;
	}	
	#oct p.thankyou-text {
		font-size: 15px;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 767px) and (orientation: landscape){
	
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 4 - 10px);
		width: -moz-calc(100% / 4 - 10px);
		width: -o-calc(100% / 4 - 10px);
		width: -ms-calc(100% / 4 - 10px);
		width: calc(100% / 4 - 10px);
	}
	#oct .today-date a.oct-button{
		left: initial;
	}
	#oct .today-date .oct-selected-date-view{
		float: right;
	}
	#oct .today-date{
		text-align: left
	}
}	



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	
	#oct .res-nplr {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#oct .res-npl {
		padding-left: 0 !important;
	}
	#oct .res-npr {
		padding-right: 0 !important;
	}
	
	#oct .res-hidden {
		display: none !important;
	}
	#oct .oct-booking-step {
		padding: 10px;
	}
	#oct .oct-extra-services-list ul.addon-service-list li.oct-xs-12,
	#oct .oct-service-staff-list ul.staff-list li.oct-xs-12,
	#oct .oct-custom-radio ul.oct-radio-list li.oct-first-radio.oct-xs-12,
	#oct .oct-custom-radio ul.oct-radio-list li.oct-second-radio.oct-xs-12{
		width: 100%;
	}
	#oct .calendar-body .oct-show-time .time-slot-container .oct-slot-legends ul.oct-legends-ul li{
		width: 100%;
		margin: 0 !important;
	}
	#oct .oct-booking-step ul li span.sep{
		display: none;
	}
	
	#oct .oct-form-row.oct-xs-12{
		padding-left: 0;
		padding-right: 0;
	}
	#oct .calendar-body .oct-week {
		line-height: 39px;
		min-height: 40px;
	}
	
	#oct .calendar-body .oct-show-time .time-slot-container ul.time-slot-ul{
		padding: 10px 15px 10px;
		max-height: 250px;
	}
	#oct .oct-booking-step ul li {
		width: 100%;
		padding: 0;
	}
	#oct .calendar-body .oct-day span {
		font-size: 11px;
	}
	
	#oct aside#content-sidebar .sidebar-box .oct-total-amount {
		padding-left: 5px;
		padding-top: 10px;
	}
	
	
	#oct .booking-thankyou{
		width: 86%;
		padding: 20px 10px;
	}
	#oct h1.header1 {
		font-size: 20px;
	}
	#oct h3.header3 {
		font-size: 15px;
	}
	#oct p.thankyou-text {
		font-size: 13px;
	}
}
/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
		
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: 100%;
		margin: 5px 0px;
	}
}
/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
	#oct .oct-booking-step ul li span.sep {
		padding: 0 0px 0 10px;
	}
	#oct .calendar-body .oct-show-time .time-slot-container ul li.time-slot{
		width: -webkit-calc(100% / 2 - 10px);
		width: -moz-calc(100% / 2 - 10px);
		width: -o-calc(100% / 2 - 10px);
		width: -ms-calc(100% / 2 - 10px);
		width: calc(100% / 2 - 10px);
	}
}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 319px) {
	
	
	#oct .res-nplr {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#oct .res-npl {
		padding-left: 0 !important;
	}
	#oct .res-npr {
		padding-right: 0 !important;
	}
	
	#oct .res-hidden {
		display: none !important;
	}
	#oct .oct-booking-step {
		padding: 10px;
	}
	#oct .oct-extra-services-list ul.addon-service-list li.oct-xs-12,
	#oct .oct-service-staff-list ul.staff-list li.oct-xs-12,
	#oct .oct-custom-radio ul.oct-radio-list li.oct-first-radio.oct-xs-12,
	#oct .oct-custom-radio ul.oct-radio-list li.oct-second-radio.oct-xs-12{
		width: 100%;
	}
	#oct .calendar-body .oct-show-time .time-slot-container .oct-slot-legends ul.oct-legends-ul li{
		width: 100%;
		margin: 0 !important;
	}
	#oct .oct-booking-step ul li span.sep{
		display: none;
	}
	
	#oct .oct-form-row.oct-xs-12{
		padding-left: 0;
		padding-right: 0;
	}
	#oct .calendar-body .oct-week {
		line-height: 39px;
		min-height: 40px;
	}
	
	#oct .calendar-body .oct-show-time .time-slot-container ul.time-slot-ul{
		padding: 10px 15px 10px;
		max-height: 250px;
	}
	#oct .oct-booking-step ul li {
		width: 100%;
		padding: 0;
	}
	#oct .calendar-body .oct-day span {
		font-size: 11px;
	}
	
	#oct aside#content-sidebar .sidebar-box .oct-total-amount {
		padding-left: 5px;
		padding-top: 10px;
	}
	
	
	#oct .booking-thankyou{
		width: 86%;
		padding: 20px 10px;
	}
	#oct h1.header1 {
		font-size: 20px;
	}
	#oct h3.header3 {
		font-size: 15px;
	}
	#oct p.thankyou-text {
		font-size: 13px;
	}
}
